{% extends 'base.html' %}


{% block title %}Смена пароля{% endblock %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:user-profile" user.pk %}">Назад</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:update-user" %}">Редактировать профиль</a>
    </li>
{% endblock nav %}


{% block content %}

    <h1>Смена пароля</h1>

    <form method="POST">
        {% include 'partial/form.html' %}
    </form>

{% endblock %}
