{% load request_get_replace_page %}
<div class="pagination">
    <span class="step-links">
        <a href="?{{ request|replace_request:1 }}">&laquo; В начало</a>
        {% if page_obj.has_previous %}
            <a href="?{{ request|replace_request:page_obj.previous_page_number }}">Назад</a>
        {% else %}
            <span class="page-disabled">Назад</span>
        {% endif %}

        <form class="current-page" method="get">
            <label for="page">
                Страница <input type="text" name="page" id="page" value="{{ page_obj.number }}">
                из {{ page_obj.paginator.num_pages }}.
                {% for key, value in request.GET.items %}
                    {% if key != 'page' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </label>
        </form>

        {% if page_obj.has_next %}
            <a href="?{{ request|replace_request:page_obj.next_page_number }}">Далее</a>
        {% else %}
            <span class="page-disabled">Далее</span>
        {% endif %}
        <a href="?{{ request|replace_request:page_obj.paginator.num_pages }}">В конец &raquo;</a>
    </span>
</div>