{% extends 'base.html' %}

{% block title %}Create article{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <h1>Create Article</h1>

    <form method="post">
        {% csrf_token %}

        <label>Title:</label><br/>
        <input type="text" name="title"/><br/>

        <label>Text:</label><br/>
        <textarea name="content"></textarea><br/>

        <label>Author:</label><br/>
        <input type="text" name="author"/><br/>
        <br/>
        <input type="submit" value="Send"/>
    </form>

{% endblock %}


