{% extends 'base.html' %}

{% block content %}
    {% include 'partial/simple_search.html' %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <h1>Статьи</h1>
    {% for article in articles %}
        <h3>{{ article.title }}</h3>
        <p><a href="{% url "article_view" article.pk %}">Подробнее...</a></p>
        <p><a href="{% url "article_update_view" article.pk %}">Редактировать</a></p>
        <p><a href="{% url "article_delete_view" article.pk %}">Удалить</a></p>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
