{% extends 'base.html' %}

{% block title %}Article {{ article.pk }}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'article_add' %}">Создание статьи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "article_update_view" article.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "article_delete_view" article.pk %}">Удалить</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "article_comment_create" article.pk %}">Добавить коммент</a>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ article.author }}</h1>
    <h3>{{ article.title }}</h3>
    <p>{{ article.content }}</p>
    <br>
    <h3>Комментарии</h3>
    {% for comment in comments %}
        <span>{{ forloop.counter }}</span>
        <p>{{ comment.author }}</p>
        <p>{{ comment.content }}</p>
        <p><a href="{% url "comment_update_view" comment.pk %}">Изменить</a></p>
    {% endfor %}
    <h3>Теги</h3>
    {% for tag in article.tags.all %}
        {{ tag.name }}{% if not forloop.last %}, {% else %}. {% endif %}
    {% endfor %}
{% endblock %}